build_artifacts/*
build_output/*
build_javadoc/*

**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

csx
rcf

bin
obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

Generated
JAVAGenerated


 

*.nupkg
NuGet.exe
src/packages/**/*
docs/build/**/*

.DS_Store

TestResult.xml
submit.xml
src/tests/*
tests/*
SolutionVersion.cs
/src/packages/repositories.config
*.DotSettings
